seniordesign/peripheralBoard/peripheralBoard-backups/peripheralBoard-2025-02-18_201724.zip
seniordesign/peripheralBoard/fp-info-cache
seniordesign/peripheralBoard/~peripheralBoard.kicad_pcb.lck
seniordesign/peripheralBoard/peripheralBoard.kicad_prl
UI_Design/comboUI&MotorControl
seniordesign/peripheralBoard/~peripheralBoard.kicad_pcb.lck
/UI_Design
UI_Design/comboUI&MotorControl
